@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.CurrentUrl = "~/Home/Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to Our Humble project. I'm learning; if you have any suggestions, please don't hesitate to contact me at <a href="mailto:mahmoud.elbadry357@gmail.com">mahmoud.elbadry357@gmail.com</a>.</p>
</div>
